/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: white;
}

#nav-mobile {
  background-color: black;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: white;
}

.sidenav li a {
  color: white;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#title-logo {
  margin-top: 90px;
  background-color: rgba(255, 255, 255, 0.3);
  text-shadow: 2px 2px 4px #000000;
}

#about-me-heading, #skills-connect-resume {
  text-shadow: 2px 2px 4px #000000;
}

.header {
  margin-bottom: 42px;
}

.btn {
  background-color: black;
}

.btn:hover {
  background-color: #717786;
}

body {
  background-color: black;
}

.page-footer {
  background-color: black;
}

h5 {
  font-weight: bold;
}

/* .card.hoverable {
  box-shadow: 0 2px 2px 0 whitesmoke, 0 3px 1px -2px whitesmoke, 0 1px 5px 0 whitesmoke;
} */

.card.hoverable:hover {
  box-shadow: 2px 4px 5px 0 whitesmoke, 2px 5px 3px -3px whitesmoke, 2px 5px 10px 0 whitesmoke;
}

.fa-github, .fa-linkedin, .fa-envelope, .fa-mobile-alt, .fa-file-download {
  color: white;
}